div.emoji-icon{
    font-size: 25px;
    margin-left: 50px;
    margin-top: 50px;
}
.progress{
    width: 200px;
    margin-left: 10px;
    margin-top: 63.5px;
}
.mood-bar{
    position: relative;
    bottom: 40px;
}
.logic-bar{
    position: relative;
    bottom: 80px;
}
.ageNav{
    float: right;
    margin-right: 130px;
    position: relative;
    bottom: 220px;
    font-weight: bold;
}