.emoji-icon{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

#game-caption{
    font-size: 28px;
}

.progress{
    width: 200px;
    margin-left: 10px;
    margin-top: 59.5px;
}
.mood-bar{
    position: relative;
    bottom: 40px;
}
.logic-bar{
    position: relative;
    bottom: 80px;
}
.ageNav{
    float: right;
    margin-right: 130px;
    position: relative;
    bottom: 220px;
}
div.days{
    margin-left: 70px;
}

.landing-div{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.identity-div{
    font-size: 24px;
    white-space: nowrap;
}

.identity-component{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 30%;
}

.boy-avatar{
    position: relative;
    top: 180px;
    left: -700px;
    transform: scale(0.5);
}

.darkDivBtn{
    position: fixed;
    margin-left: 50px;
    margin-top: -220px;
}

.darkDiv{
    position: absolute;
    transform: translate(-50%,-50%);
    left:5%;
    top: 4.5%;
}

/* DarkMode Toggle Button CSS */

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 0.5em;
    width: 0.5em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #007bff;
    border: 1px solid #007bff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
  }

/* Dark Mode CSS */

body{
    background-color: #222831;
    color: white;
}

/* Mobile Responsive CSS Code */

@media only screen and (max-width:768px){
    .progress{
        position: relative;
        top: 1%;
        width: 100px;
    }
    .emoji-icon{
        font-size: 20px;
        margin-left: 23px;
        margin-top: 50px;
    }
    .emoji-icon .progress{
        position: relative;
        top: 5%;
    }
    #game-caption{
        font-size: 18px ;
    }
    .ageNav{
        font-size: 14px;
        white-space: nowrap !important;
    }
    .time-age{
        float: left;
    }
    div.days{
        float: right;
        position: relative;
        left: 40%;
    }

    .progressBars{
        position: relative;
    }

    .custom-bar{
        margin-top: 12px;
    }


}